*{
    margin: 0;
    padding: 0;
}
.sideNavBox{
    position: absolute;
    background-color: #0F1A37;
    width: 300px;
    height: 100vh;
}

.navLogo img{
    width: 280px;
    padding: 15px 30px;
}

.searchBox{
padding:0 40px;
}
.searchBox input{
    padding: 10px;
    height: 40px;
    background-color: #0F1A37;
    border-bottom:1.5px solid white;
    border-radius: 5px;
}
.sideNavBox nav ul a{
    list-style: none;
    text-decoration: none;
}
.sideNavBox nav ul li{
    font-size: 20px;
    color:white;
    padding: 10px;
    list-style: none;
}
.sideNavBox nav ul li a{
    color:white;
    list-style: none;
    text-decoration: none;
}

.sideNavBox nav ul li:hover{
    cursor: pointer;
    background-color: #4063FF;  
    border-top-left-radius: 15px;    
    border-bottom-left-radius: 15px;    
}

.graphbox{
    position: absolute;
    top: 30px;
    left: 459px;
}

.dashboardLeft{
    width: 30%;
    height: 100%;
}
.dashboardRight{
    width: 70%;
    height: 100%;
}

.logoutButton{
    background-color: #4063FF;
    height: 66px;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    padding: 15px;
    font-weight: bold;
    position: relative;
    top: 16vh;
}

.logoutButton:hover{
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
     cursor: pointer;
}

.logoutButton a{
    color: aliceblue;
    text-decoration: none;
    font-size: 23px;
}
